%h1= t '.title'
%p
  = link_to t('back'), population_submission_attachments_path
  = link_to t('edit'), edit_population_submission_attachment_path(@population_submission_attachment)
  = link_to t('.new'), new_population_submission_attachment_path

%dl
