- if current_user.admin?
  %h1 Administrative resources
  %div
    = link_to '/submissions' 'Recent Submissions'
  %div
    = link_to '/data_request_forms' 'Data Request Forms'
- else
  This account is not authorized to access this page.
