-if current_user.admin?
  %h1 Administrative resources
  %h2 Database administration
  %div
    %a{:href => '/submissions'} Recent Submissions
  %div
    %a{:href => '/data_request_forms'} Data Request Forms

  %h2 GeoServer administration
  %a{:href => 'http://geo.elephantdatabase.org/geoserver/web/'} GeoServer admin console

  %h2 DSpace administration
  %a{:href => 'http://dspace.elephantdatabase.org:4444/xmlui'} DSpace admin console
- else
  %h1 This account is not authorized to access this page.
