- if current_user.admin?
  %h1 Administrative resources
  %h3
    = link_to 'Recent Submissions', '/submissions'
  %h3
    = link_to 'Data Request Forms', '/data_request_forms'
  %h3
    = link_to 'Users', '/users'
- else
  This account is not authorized to access this page.
