- for population_submission in @submission.population_submissions do
  %div= link_to "Population Estimate ##{population_submission.id}", population_submission
%p= link_to t('new_population_estimate'), new_submission_population_submission_path(@submission)

