.container-fluid
  .row
    .col-xs-12 style='padding: 50px'
      ' If you have data that should be integrated into the
      ' African Elephant Database, please contact
      a href="mailto:#{AedEnv.REQUEST_FORM_SUBMITTED_TO_EMAIL}"
        ' #{AedEnv.REQUEST_FORM_SUBMITTED_TO_EMAIL}.
      ' All data for the African Elephant Status Report 2016,
      ' featuring data through 2015, should be submitted by
      ' 31 January 2016.
