%h1 Thanks for your request!
.wiki
  :maruku
    Thank you for requesting data from the AAED.

    The DRWG will review your data request.  Please contact
    the AfESG Secretariat via the Support link at the top of this page
    if you do not receive a response within three weeks.
