.wiki
  :maruku
    Thank you for requesting data from the AAED.

    The DRWG will review your data request.  Please contact
    the AfESG Secretariat at [afesg@iucn.org](mailto:afesg@iucn.org)
    if you do not receive a response within three weeks.
