%h1 Data Access and Release Policy of the African Elephant Database
.wiki

  %h2
    Introduction
  %p
    The African Elephant Database (AED) of the IUCN/SSC African Elephant
    Specialist Group (AfESG) aims to provide an accurate and objective
    continent-wide picture on the status and distribution of the African
    elephant, and thus help in developing long-term management and
    conservation strategies for the species. Data entered into the African
    Elephant Database are obtained through the generous assistance of many
    governments, organizations and individuals from numerous elephant
    Range States throughout sub-Saharan Africa.
  %p
    The African Elephant Database comprises a number of distinct components:
  %ul
    %li
      A set of electronic maps of areas where information on elephant
      numbers has been collected throughout the years. These maps are
      linked to database tables giving information on the types and
      results of surveys, reliability, and other relevant factors.
    %li
      A set of electronic maps depicting elephant distribution. Some of
      the areas depicted in the distribution maps have been formally
      surveyed, whereas others have not. Distribution maps are linked
      to database tables which give additional information about the
      nature and reliability of range information.
    %li
      Additional electronic maps depicting ancillary information, such
      as protected areas, national boundaries, roads, rivers and relief.
      Most of these ancillary maps have been obtained from third-party
      providers and do not belong to the AfESG.
    %li
      Supporting documentation for the electronic database.
    %li
      Data in the AED are subject to extensive review by the Data Review
      Working Group (DRWG) of the AfESG. In addition, digitized data
      undergo stringent validation and verification procedures as they
      are entered into the AED. These processes lead to the preparation
      and publication of periodic “status reports,” which summarize
      verified information in the full database and which aim to
      provide the best interpretation of available data.
    %li
      At any time between the publication of status reports, the
      electronic version of the AED is a 'work in progress' and may
      therefore include contradictory and/or unverified information.
  %h2 
    Objectives and General Policy Statement
  %p
    The primary objective of this policy is to make the AED as freely and
    widely available as possible, while encouraging users of AED data to
    take account of the limitations of the data in their analyses. It is
    also the duty of AfESG, and an objective of this policy, to ensure that:
  %ul
    %li 
      AED data are used for the benefit of elephant conservation in Africa.
    %li 
      The wishes of providers of source information who have placed express
      restrictions on the dissemination of their raw data are respected.
    %li
      Any agreements with providers of ancillary GIS information are respected.
    %li
      The integrity of the database is maintained by discouraging the
      circulation of multiple modified versions.
    %li
      It is the belief of the AfESG that the above objectives can best be
      achieved with the following broad policies:
      %ul
        %li
          Hard copy and 'read-only' electronic versions of the AED are freely
          available: electronic Status Report can be downloaded from the
          Internet, and the printed version is available on request, subject
          to logistic and financial constraints.
        %li
          Full or partial, editable versions of the updated electronic
          database will be made available on a controlled basis, with
          conditions designed to restrict the dissemination of altered
          versions and of ancillary data layers that are not the property
          of AfESG, and to encourage people analyzing the data to take
          account of its limitations.
        %li
          Unless Data Providers have placed restrictions on the circulation
          of source data, such data will be made available for inspection
          upon request, subject to logistic and financial constraints.
    %li
      The above points are for guidance only. The details of this policy
      are set out in the two sections that follow.
  %h2
    Definitions
  %p
    For the purposes of this policy, the following definitions shall apply:
  %ul
    %li
      <i>African Elephant Database (AED)</i> - An electronic collection of tables,
      georeferenced maps and any other datasets, digitized by the African
      Elephant Specialist Group and containing information relating to
      elephant distribution and abundance in the Range States of African
      Elephants. Any data captured or digitized and integrated into the African
      Elephant Database and any views or extracts thereof remain the property
      of the African Elephant Specialist Group.
    %li
      <i>African Elephant Database Source Data</i> – The collection of reports,
      personal communications, questionnaire replies, publications and any
      other form of data or information submitted to the AfESG for input
      into the African Elephant Database.
    %li
      <i>African Elephant Status Report (AESR)</i> – Any of the reports on the
      status and distribution of African elephants produced by the IUCN/SSC
      African Elephant Specialist Group (generally every three years) in hard
      copy and/or read-only electronic format. African Elephant Status
      Reports, which have been in the past published under the name “African
      Elephant Database”, contain views from the African Elephant Database.
    %li
      <i>Ancillary Datasets</i> – A collection of tables and maps in digital format
      and views and extracts thereof produced by third parties and employed
      in the African Elephant Database.
    %li
      <i>Digital Data Extract</i> – A digital subset data contained in the African
      Elephant Database and/or related digital databases operated by the
      African Elephant Specialist Group in editable, tabular or graphic,
      geo-referenced format.
    %li
      <i>View</i> – A snapshot of a subset of data contained in the African
      Elephant Database and/or related digital databases operated by the
      African Elephant Specialist Group, in a non-georeferenced, rasterized
      or non-editable electronic vector format, or in hard copy.
  %h2
    Access to Data from the African Elephant Database
  %p
    Digital data will be made available to African Elephant Specialist Group
    (AfESG) members on request, and may be made available to other groups or
    individuals provided the conditions detailed below are satisfied.
  %ol
    %li
      <i>Access to AED Status Reports.</i>
      For the purpose of data release and access, AED Status Reports and any
      data views contained therein are in the public domain once they have
      been published in hard copy or released in read-only electronic format
      on the official AfESG Internet web site. Access to AED Status Reports
      is subject to availability. Dissemination of altered hard copy or
      electronic AED Status Reports by third parties is not permitted.
    %li
      <i>Access to Views from the African Elephant Database.</i>
      Views of the database depicting processed summary tables or maps in
      non geo-referenced, bitmapped or non-editable vector graphic formats
      may be made available upon written request, subject to resource constraints.
    %li
      <i>Access to Digital Data Extracts from the African Elephant Database.</i>
      The release of digital Data Extracts from the African Elephant Database
      is subject to the following conditions:
    %ol
      %li
        Any person(s) or group(s) wishing to obtain digital data extracts
        from the AED must submit a proposal to the AfESG Data Review Working
        Group (DRWG), outlining how the database is to be used and why the
        data are required in digital form. Digital data will be released if
        the DRWG considers the release not to violate existing agreements with
        data providers, the intended use is not anticipated to be detrimental
        to elephant conservation and takes account of the limitations of
        data quality.
      %li
        The authors, prior to submission, publication or dissemination of
        any output containing any views, alterations, manipulations or
        analysis of digital data extracted from the African Elephant Database,
        must submit to the DRWG, for review and comment, a final draft of all
        materials intended for dissemination.
      %li
        Any alteration to digital data supplied by the AED and intended
        for publication, dissemination or placement in the public domain,
        must be accompanied by a statement by the author(s), clearly
        describing the nature of any alterations effected on data extracted
        from the African Elephant Database. The author(s) must also submit
        to the Data Review Working Group the altered dataset in its entirety
        for review, and grant express permission to the AfESG for possible
        integration of the altered data into the African Elephant Database,
        subject to review and acceptance by the DRWG.
      %li
        Digital Data Extracts released to any person or group will
        remain the property of the AfESG and will not be passed on to any
        third party
      %li
        Any AED data used in papers, reports, publications or any other
        output will be given proper acknowledgement, which will be stipulated
        in the users agreement (see number 7).
      %li
        The AfESG secretariat must be provided with 2 copies of any
        document or output in which data from the AED is used.
      %li
        An agreement to the standard terms and conditions above must be
        signed and returned to the AfESG Secretariat before any data will be
        released. Such an agreement will include points 2, 3, 4, 5 and 6
        listed above.
    %li
      <i>Access to Source Data.</i> As a custodian of AED Source Data,
      the AfESG has no rights of ownership or any obligations to their
      dissemination, but unless specifically restricted by the Data
      Provider, will allow their inspection. Any other conditions imposed
      by the Data Providers on the release of Source Data, views or extracts
      thereof will be observed.
    %li
      <i>Access to Ancillary Datasets</i> As an end user of Ancillary Datasets,
      the AfESG may have no rights to their dissemination, and where
      permitted, their release will be subject to any conditions imposed by
      the Data Provider. In all other cases the AfESG will re-direct any
      requests for such datasets to the appropriate data provider.
