body{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

body.bootstrapped {
  background-color: #fff;
}

a#logo-aed img{
   width: 250px;
   margin-top: 10px;
}
a#logo-afesg img{
    position: absolute;
    left: 60%;
    width: 170px;
    top: 25px;
}
.strapline {
  position: absolute;
  top: 72px;
  left: 340px;
  width: 300px;
  font-family: "Droid Sans";
  font-size: 14px;
  line-height: 18px;
  color: #2b1100;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
th.numeric {
  text-align: right;
}
td.numeric {
  text-align: right;
}
a{
  color: #118300;
}
/*.logo{
  margin-top: 10px;
  padding-bottom: 10px;
}*/
.user_section{
  float: right;
}
.nav{
  position: absolute;
  right: 50px;
  top: 25px;
  width: 73px;
}
html body div#page div#footer{
	background-color: white;
    height: 55px;
    margin-left: 20px;
    margin-top: 10px;
}
html body.bootstrapped div.container span#iucn-logos a#logo-iucn {
	text-decoration: none;
}
html body.bootstrapped div.container span#iucn-logos a#logo-iucn img{
	margin-bottom: 0;
    margin-right: 5px;
    width: 50px;
}
html body.bootstrapped div.container span#iucn-logos a#logo-ssc img {
    margin-bottom: 0;
    margin-left: 5px;
    width: 70px;
}
html body.bootstrapped div.container span#legal{
	font-size: xx-small;
    padding-top: 20px;
}
html body.bootstrapped div.container span#legal p{
	float: right;
    margin-top: 10px;
    width: 85%;
}
.want_data {
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  float: right;
  padding: 10px;
  border: 3px solid #ccc;
  clear: both;
}
.report_cover {
  clear: left;
}
.report_cover img {
  float: left;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #ccc;
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  border: 1px solid #ccc;
  padding: 5px;
}
.report_cover a {
  text-decoration: none;
}
.report_cover .more {
  width: 800px;
}
.report_cover .more div {
  margin-top: 10px;
}
.report_cover .more a {
  font-size: small;
}
.navItem {
  display: block;
  color: #fff;
  height: 19px;
  width: 97px;
  margin-bottom: 10px;
  background: url('/assets/green-arrow.png');
  font-family: "Droid Sans";
  padding-left: 3px;
  padding-top: 2px;
  font-size: 16px;
  text-transform: uppercase;
}
.navItem a {
  color: #fff;
  text-decoration: none;
}
.navItem .selected {
  color: #777;
}
/*#legal{
  clear: both;
  padding-top: 20px;
  font-size: xx-small;
}*/
iframe{
  border: none;
}
#iframepicker{
  padding-top: 10px;
}
.navTab{
  display: inline-block;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
}
.help {
  color: #555555;
}

.required {
  border-color: red;
}
h1.pagetitle {
  float: left;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}
h1.pagetitle a{
  text-decoration: none;
  color: #000000;
}

body{
  background: #521d00;
}
p {
  padding-bottom: 10px;
}
input {
  border: 1px solid #004400;
  margin: 0 10px 10px 0;
  padding: 7px;
}
textarea {
  border: 1px solid #004400;
  margin: 0 10px 10px 0;
  padding: 5px;
}

.area{
  float: left;
  width: 440px;
  margin: 10px;
  padding: 20px;
}
.boxy{
  background: #eeeeff;
  height: 210px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.info{
  background: #eeeeff;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 10px;
}
.question{
  border: 5px solid #eeeeff;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.questionList tr:nth-child(odd) {
  background-color: #fff;
}

.questionList tr:nth-child(even) {
  background-color: #ddd;
}
.questionList th {
  padding: 5px;
}
.questionList td {
  text-align: center;
  padding: 5px;
}
.questionList input, .questionList textarea {
  margin: 0;
}
.prompt{
  padding: 15px 0px 5px;
}
.prompt label {
}
#banner{
  position: absolute;
  top: 5px;
  left: 20px;
  color: #004400;
}
#beta{
  color: #bc4100;
  float: left;
}
#login,#register,#logout,#myaccount,#mysub,#support,#superuser{
  float: right;
  padding-left: 10px;
}
#legalese{
  margin: 10px;
  clear: both;
}
#page {
  background: #ffffff;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  position: relative;
}
.count {
  float: left;
  padding-bottom: 10px;
  clear: both;
}
.undecorated {
  text-decoration: none;
  color: #004400;
}
.continue {
  margin-top: 20px;
  display: block;
}

/* Flutie Overrides */
.inline-hints {
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 0.25em;
}

label abbr {
	padding-left: 3px;
	color: #cc0000;
}

fieldset {
  border: none;
  background: none;
  padding: 0px;
}

form {
  padding: none;
}

.required label {
  font-weight: normal;
}
/**<!-- SURVEY INFORMATION -->**/

div.survey_results {
	margin: 10px;
}


.survey_results table{
	width: 850px;
}


.survey_results table td{
	padding-right: 4px;
	padding-left: 4px;
	vertical-align: top;
}

.survey_results table td.total{
}
.survey_results table tr.totals{
	background-color: #EEEEFF;
}

.survey_results table th{
	padding-right: 4px;
	padding-left: 4px;
}

.survey_results table td.description{
	width: 200px;
}

.survey_results table th.description{
	text-align: left;
}

.surveys_summary table th{
  text-align: right;
}

.number_count{
	text-align: right;
}

.summary_totals{
	margin-bottom: 20px;
}

span.title{
	margin: 4px;
}

div.surveys_summary span.title {
	margin: 4px;
}

.survey_results table th.left {
	text-align: left;
}

.survey_results table td.left {
	text-align: left;
}

.individual_survey_table th {
	width: 85px;
}

#header {
	position: relative;
	width: 100%;
	height: 3em;
}

#header ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
        bottom: 0px;
}

#header ul#primary li  {
	display: inline;
	list-style: none;
}

#header ul#primary a,#header ul#primary span,#header ul#primary a.current {
	font-size: small;
        display: block;
	float: left;
	padding: 4px;
	margin-bottom: 0px;
        margin-right: 3px;
	text-align: center;
	text-decoration: none;
	color: #333;
}

#header ul#primary span,#header ul#primary a.current,#header ul#primary a.current:hover {
	border: 1px solid #666;
	border-bottom: none;
	background: #FFF3B3;
}

#header ul#primary a {
	background: #FFFAE1;
	border: 1px solid #AAA;
	border-bottom: none;
}

#header ul#primary a:hover {
	border-color: #666;
	background: #FFF7CD;
}

.gallery {
  float: right;
  margin: 10px;
}

.feature_legend {
  font-family: "Droid Sans";
  margin: 10px;
  margin-bottom: 5px;
}

.feature_name {
  font-family: "Droid Sans";
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.wiki {
  line-height: 1.5em;
  padding: 15px;
  padding-left: 250px;
  padding-right: 75px;
}
.wiki ul, .wiki ol {
  margin-left: 15px;
  margin-bottom: 0px;
}
.wiki ul li, .wiki ol li {
  text-indent: -15px;
}
.wiki h1, .wiki h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.wiki div{
  width: 70%;
  margin-bottom: 10px;
  line-height: 140%;
}
h1 {
  font-family: "Droid Sans";
  font-weight: normal;
  font-size: 30px;
  padding: 10px;
  color: #fff;
  background-color: #2b1100;
}
h5 {
  color: #1A4882;
  font-size: 18px;
  font-weight: normal;
  padding-top: 65px;
  padding-bottom: 15px;
}
.ticker_bar {
  width: 100%;
  height: 80px;
  background-color: #2b1100;
}
.ticker_item {
  float: left;
  background-color: #ffe6d5;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
}
.ticker_no {
  font-family: "Droid Sans";
  font-weight: bold;
  font-size: 24px;
}
.ticker_bar a  {
  text-decoration: none;
  color: #2b1100;
}
#ticker_text a {
  color: #fff;
}
.ticker_legend{
  font-family: "Droid Sans";
}
#ticker_text {
  float: right;
  width: 700px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-family: "Droid Sans";
  font-size: 16px;
  margin-top: 10px;
  padding-top: 20px;
  margin-right: 15px;
}
#ticker_text img {
  float: left;
  margin-top: -7px;
  margin-right: 15px;
}
.ticker_tick {
  display: none;
}
.partners {
  width: 100%;
  text-align: center;
}
.partners img {
  padding: 15px;
}
.partners a {
  text-decoration: none;
}
.restated_survey_info {
  float: left;
  width: 350px;
  border: 1px solid #ccc;
  margin-left: 35px;
  margin-right: 20px;
}
.edit_link {
  width: 40px;
  float: left;
  clear: left;
  margin-left: -35px;
  margin-top: 3px;
}
.edit_link a {
  float: left;
}
.add_actions{
  margin-top: 5px;
  border-top: 1px dashed #ccc;
  padding: 5px;
}
.stratum_add_actions{
  padding: 5px;
  padding-bottom: 0px;
}
.add_actions img, .stratum_add_actions img{
  vertical-align: middle;
  margin-top: 7px;
}
.add_actions a, .stratum_add_actions a{
  text-decoration: none;
}
.count_header{
  margin-top: 5px;
  border-top: 1px dashed #ccc;
  padding: 5px;
  padding-top: 8px;
}
.count_stratum_info{
  border: 1px solid #ccc;
  margin: 5px;
}
.count_stratum_header{
  padding: 5px;
  padding-top: 8px;
}
.count_stratum_estimate{
  float: right;
  font-size: 24px;
  font-weight: bold;
}
.errata {
  margin-left: 0px;
}
.errata p {
  margin-bottom: 0px;
}
.errata li {
  margin-left: 20px;
  margin-bottom: 5px;
}
.errata ul {
  margin-bottom: 5px;
}
.submission_info, .population_submission_info, .count_info, .count_stratum_info, .stratum_add_actions, .add_actions {
}
.count_stratum_info {
  margin-left: 40px;
}
form {
  float: left;
  width: 500px;
}
#ftcanvas {
  width: 100%;
  height: 500px;
}
.popup_zone {
  margin-bottom: 10px;
}
.popup_count {
  font-size: 24px;
  font-weight: bold;
}
.popup_elephants {
  line-height: 1.5em;
  margin-bottom: 10px;
}
.gallery_item {
  margin-bottom: 20px;
  font-size: 16px;
}
.gallery_item .link {
  margin-bottom: 5px;
}
#canvas_holder {
  position: relative;
}
#key {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 99;
  background: #fff;
  padding: 20px;
  border: 2px solid #777;
}
.submit_instructions {
  margin-bottom: 10px;
  margin-right: 80px;
  font-size: 14px;
  line-height: 125%;
}
.submit_confirmation {
  margin-right: 20px;
  margin-bottom: 7px;
  line-height: 125%;
}
.attachment_details {
  margin-bottom: 3px;
}
.download {
  margin-bottom: 5px;
  margin-top: 5px;
}
.attachment_item {
  margin-left: 5px;
  margin-bottom: 5px;
}
.submit_actions {
  margin-left: 5px;
  margin-bottom: 10px;
}
.show_stratum {
  line-height: 125%;
}
.warn {
  margin-bottom: 10px;
  padding: 10px;
  background: #ffd;
}
.survey_reliability {
  line-height: 125%;
}
.show {
  float: left;
  width: 500px;
}
.public_abstract{
  margin-bottom: 10px;
}
.public_citation{
  margin-bottom: 10px;
}
.public_link{
  margin-bottom: 10px;
}

// print overrides
@media print
{
    #superuser, #support, #mysub, #myaccount, #logout, .nav, .crumbs, .report_narrative_links {
        display:none;
    }
    h1 {
      padding: 0px;
      margin: 0px;
      font-weight: bold;
    }
    a:link:after, a:visited:after {
      content: "" !important;
    }
    a {
      font-weight: bold !important;
      text-decoration: none !important;
    }
}

div.notice, #flash_notice {
  margin-bottom: 30px;
    margin-top: 0;
    top: 30px;
}
