// Place all the styles related to the analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#RM_map {
  height: 250px;
}
.RM_FS_map #RM_map {
  height: 100%;
}
.RM_tables {
  height: 250px;
  overflow: scroll;
}
.RM_FS_tables .RM_tables {
  height: 100%;
}
.RM_tables .row {
  border-top: 1px solid #ccc;
}
.RM_other_header {
  font-weight: bold;
}
.RM_changes,
.RM_new_change,
.RM_template_change,
.RM_other_header {
  display: none;
}
.RM_country_indicator {
  background-color: #eeeeee;
}
.RM_country_name {
  font-weight: bold;
}
.RM_clickable {
  cursor: pointer;
}
.RM_comments textarea {
  width: 100%;
  height: 5em;
}
.RM_comments {
  font-style: italic;
}
.RM_replacement_name {
  font-size: small;
}
.RM_replacement_name input {
  font-size: small;
  width: 75px;
}
