.population_submission_info{
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.population_submission_site_name {
  float: right;
  font-size: 20px;
}
.population_submission_licensing {
  font-size: 20px;
  margin-bottom: 5px;
}
.population_submission_area {
  float: right;
  clear: right;
}
.population_submission_survey_completed {
  margin-bottom: 5px;
}