.population_submission_header{
  margin-top: 5px;
  border-top: 1px dashed #ccc;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 0px;
}
.population_submission_parameters{
  padding-top: 0px;
  padding: 5px;
}
.population_submission_site_name {
  font-size: 20px;
  font-weight: bold;
}
.population_submission_licensing {
  margin-top: 15px;
  float: right;
}
.population_submission_area {
  margin-top: 5px;
}
.population_submission_survey_completed {
  font-size: 14px;
  margin-top: 3px;
  font-weight: bold;
}

th .current.asc {
  color: #070;
}

th .current.desc {
  color: #700;
}

