.submission_info{
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
}
.submission_species{
  font-size: 20px;
  margin-bottom: 5px;
}
.submission_phenotype{
  margin-bottom: 5px;
}
.submission_country{
  float: right;
  font-size: 20px;
}
.submission_mike_site{
  float: right;
  background: 777;
  padding: 5px;
}
