.submission_species{
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.submission_phenotype{
  margin-bottom: 5px;
}
.submission_country{
  float: right;
  font-size: 20px;
  margin-top: 32px;
}
.submission_mike_site{
  float: right;
  background: 777;
  padding: 5px;
}
